{% extends "base.html" %}
{% load staticfiles %}

{% block head %}

<link href="{% static 'bootstrap/css/signin.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}


<div class="container">
  <form class="form-signin" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
    <h2 class="form-signin-heading">Please sign in</h2>
    <label for="inputEmail" class="sr-only">{{ form.username.label_tag }}</label>
    <input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus>
    <label for="inputPassword" class="sr-only">{{ form.password.label_tag }}</label>
    <input type="password" id="password" class="form-control" placeholder="Password" name="password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit" value>Sign in</button>
    {% if form.errors %}
    <p><strong>Your username and password didn't match. Please try again.</strong></p>
    {% endif %}
    <input type="hidden" name="next" value="{{ next }}" />
  </form>

</div> <!-- /container -->

</form>

{% endblock %}
